*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    padding: 15px;
    max-width: 940px;
    margin: 0 auto;
}

.galery-wrapper {
    overflow-x: auto;
}

.galery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.arrow-left, .arrow-right{
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 30px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    opacity: 0.1;
    transition: all 600ms ease-in-out;
    background: linear-gradient(to left, transparent 0%, black 200%);
}

.arrow-right{
    left: auto;
    right: 0;
    font-size: 30px;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.arrow-left:hover, .arrow-right:hover{
    opacity: 1;
}

.item{
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 600ms ease-in-out;
    border: 3px solid white ;
    border-radius: 37px;
}

.current-item{
    opacity: 1;
    border: 5px solid turquoise;
    box-shadow: 0 0 10px turquoise;
}